<!DOCTYPE html>
<html lang=zh-CN>
<base href="<?php  echo base_url();?>"/>
<head>
	<title>MeetFit</title>
	<meta charset=utf-8 >
	<meta name="robots" content="index, follow" >
	<meta name="keywords" content="" >
	<meta name="description" content="" >
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="favicon.ico" sizes="32x32">
	<!-- CSS begin -->
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" >
	<link rel="stylesheet" type="text/css" href="css/skeleton.css" >
	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css"  >
	<link rel="stylesheet" href="css/colors/red.css" id="colors">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<link href='//cdn.webfont.youziku.com/webfonts/nomal/93205/45837/5805eb36f629d808a8f8f676.css' rel='stylesheet' type='text/css' />
	<link href='//cdn.webfont.youziku.com/webfonts/nomal/93205/45837/5805ef97f629d808a8f8f67c.css' rel='stylesheet' type='text/css' />
	<link href='//cdn.webfont.youziku.com/webfonts/nomal/93205/45837/5805ef42f629d808a8f8f67b.css' rel='stylesheet' type='text/css' />
	<!-- flexslider slider CSS -->
	<link rel="stylesheet" type="text/css" href="css/flexslider.css"  >
	<!--end flexslider slider CSS -->


	<!-- CSS end -->

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body class="red">
<div id="wrap" class="boxed">
	<div class="grey-bg">
	<!--[if lte IE 7]>
	<div id="ie-container">
		<div id="ie-cont-close">
			<a href='#' onclick='javascript&#058;this.parentNode.parentNode.style.display="none"; return false;'><img src='images/ie-warning-close.jpg' style='border: none;' alt='Close'></a>
		</div>
		<div id="ie-cont-content" >
			<div id="ie-cont-warning">
				<img src='images/ie-warning.jpg' alt='Warning!'>
			</div>
			<div id="ie-cont-text" >
				<div id="ie-text-bold">
					You are using an outdated browser
				</div>
				<div id="ie-text">
					For a better experience using this site, please upgrade to a modern web browser.
				</div>
			</div>
			<div id="ie-cont-brows" >
				<a href='http://www.firefox.com' target='_blank'><img src='images/ie-warning-firefox.jpg' alt='Download Firefox'></a>
				<a href='http://www.opera.com/download/' target='_blank'><img src='images/ie-warning-opera.jpg' alt='Download Opera'></a>
				<a href='http://www.apple.com/safari/download/' target='_blank'><img src='images/ie-warning-safari.jpg' alt='Download Safari'></a>
				<a href='http://www.google.com/chrome' target='_blank'><img src='images/ie-warning-chrome.jpg' alt='Download Google Chrome'></a>
			</div>
		</div>
	</div>
	<![endif]-->
<!-- HEADER -->
		<header id="header" >
			<div class="container clearfix">
				<div class="sixteen columns header-position">
					<div class="menu-wrap">
						<nav class="menu">
							<div class="header-menu-container right">
								<!-- TOP MENU -->
								<nav id="main-nav">
									<ul class="sf-menu clearfix">
										<li ><a href="index.php/LoginController/index">首页</a>
										</li>
										<li><a href="index.php/StatisticController/userStatistic">运动</a>
										</li>
										<li><a href="index.php/ActivityController/activity">活动</a>
										</li>
										<li class="current"><a href="index.php/BlogController/blog">社区</a>
										</li>
										<li ><a href="contact.html">联系我们</a></li>
									</ul>
								</nav>
							</div>
						</nav>
					</div>
					<button class="menu-button" id="open-button"></button>
				</div>
			</div>
		</header>
<!-- PAGE TITLE -->
	<div class="container m-bot-35 clearfix">
		<div class="sixteen columns">
			<div class="page-title-container clearfix">
				<h1 class="page-title"><a href="index.php/StatisticController/userStatistic"><?=$_SESSION['username'];?></a> <span class="sub-title">/ 社区</span></h1>
			</div>	
		</div>
	</div>
</div>	<!-- Grey bg end -->	

<!-- CONTENT -->
	<div class="container clearfix">
		<div class="eleven columns m-bot-25">
		<!-- BLOG ITEM -->
			<div class="blog-item m-bot-35 clearfix">
						<div class="hover-item">
							<div class="clearfix">
								<div class="blog-item-date-inf-container left">
										<div class="blog-item-date-cont">
											<div class="blog-item-date">3</div>
											<div class="blog-item-mounth">DEC</div>
										</div>
										<div>
											<div class="blog-item-category-img">
												<img src="images/icon-standart-post.png" alt="Ipsum" >
											</div>
										</div>
								</div>
								
								<div class="view view-first">
									<img src="images/blog1.jpg" alt="Ipsum" >
									<div class="mask"></div>	
									<div class="abs">
										<a href="images/blog1.jpg" class="lightbox zoom info"></a><a href="blog-single.html" class="link info"></a>
									</div>	
								</div>
							</div>	
							<div class="blog-item-caption-container">
										<a class="a-invert" href="blog-single.html" ><span class="bold">全世界此刻都是你的球迷！</span> ---悼念沙佩科恩斯空难</a>
									<div class="lp-item-container-border clearfix">
										<div class="blog-info-container">
												<ul class="clearfix">
													<li class="author">artpark</li>
													<li class="view">16 views</li>
													<li class="comment">25 Comments</li>
													<li class="tag">运动</li>
												</ul>
										</div>
									</div>
							</div>
						</div>
						<div class="blog-item-text-container">
							<p>哥伦比亚当地时间11月28日22:15，一架载有72名乘客与9名机组人员的LAMIA航空一架RJ85F飞机（航班号LMI2933）在飞往哥伦比亚麦德林国际机场途中坠毁。在坠机前，该航班曾经发出紧急救援信号。飞机上载的是巴西沙佩科恩斯足球俱乐部的队员，是一支巴甲球队。哥伦比亚当地媒体El Tiempo报纸称，飞机至少载有22名该队球员。。。。</p>

						</div>
						<div class="lp-r-m-container right">
							<a href="index.php/BlogController/blogSingle/1" class="button medium r-m-plus r-m-full">READ MORE</a>
						</div>
	
			</div>
		<!-- BLOG ITEM -->
			<div class="blog-item m-bot-35 clearfix">
						<div class="hover-item">
							<div class="clearfix">
								<div class="blog-item-date-inf-container left">
										<div class="blog-item-date-cont">
											<div class="blog-item-date">2</div>
											<div class="blog-item-mounth">DEC</div>
										</div>
										<div>
											<div class="blog-item-category-img">
												<img src="images/icon-gallery-post.png" alt="Ipsum" >
											</div>
										</div>
								</div>
								
								<div class="view view-first">
									<img src="images/blog2.jpg" alt="Ipsum" >
									<div class="mask"></div>	
									<div class="abs">
										<a href="images/blog2.jpg" class="lightbox zoom info"></a><a href="blog-single.html" class="link info"></a>
									</div>	
								</div>
							</div>	
							<div class="blog-item-caption-container">
										<a class="a-invert" href="blog-single.html" ><span class="bold">我们不是生来如此，而是每天坚持不懈</span>
									<div class="lp-item-container-border clearfix">
										<div class="blog-info-container">
												<ul class="clearfix">
													<li class="author">ddl</li>
													<li class="view">16 views</li>
													<li class="comment">25 Comments</li>
													<li class="tag">健身</li>
												</ul>
										</div>
									</div>
							</div>
						</div>
						<div class="blog-item-text-container">
							<p>每一个优秀的人，都有一段沉默的时光。那一段时光，是付出了很多努力，忍受孤独和寂寞，不抱怨不诉苦，日后说起时，连自己都能被感动的日子。。。。</p>

						</div>
						<div class="lp-r-m-container right">
							<a href="index.php/BlogController/blogSingle/2" class="button medium r-m-plus r-m-full">READ MORE</a>
						</div>
	
			</div>
		<!-- BLOG ITEM -->
			<div class="blog-item m-bot-35 clearfix">
						<div class="hover-item">
							<div class="clearfix">
								<div class="blog-item-date-inf-container left">
										<div class="blog-item-date-cont">
											<div class="blog-item-date">1</div>
											<div class="blog-item-mounth">DEC</div>
										</div>
										<div>
											<div class="blog-item-category-img">
												<img src="images/icon-video-post.png" alt="Ipsum" >
											</div>
										</div>
								</div>
								
								<div class="view view-first">
									<img src="images/blog3.jpg" alt="Ipsum" >
									<div class="mask"></div>	
									<div class="abs">
										<a href="images/blog3.jpg" class="lightbox zoom info"></a><a href="blog-single.html" class="link info"></a>
									</div>	
								</div>
							</div>	
							<div class="blog-item-caption-container">
										<a class="a-invert" href="blog-single.html" ><span class="bold">冬季大逃亡</span>---生死ddl活动记录</a>
									<div class="lp-item-container-border clearfix">
										<div class="blog-info-container">
												<ul class="clearfix">
													<li class="author">artpark</li>
													<li class="view">16 views</li>
													<li class="comment">25 Comments</li>
													<li class="tag">活动</li>
												</ul>
										</div>
									</div>
							</div>
						</div>
						<div class="blog-item-text-container">
							<p>
							计划于:
							      <p>本周三下午4:30~6:00，6:30~9:00。</p>

							       <p>本周四下午6:30 ~9:30。</p>

							       <p>下周一下午4:30~6:00,6:30~9:00。（酌情会小范围影响作业成绩）</p>

							       <p>在 710 检查web大作业。</p>

							    请大家相互转告。。。。</p>

						</div>
						<div class="lp-r-m-container right">
							<a href="index.php/BlogController/blogSingle/3" class="button medium r-m-plus r-m-full">READ MORE</a>
						</div>
	
			</div>
	<!-- PAGINATION -->
			<div class="pagination-1-container ">
				<ul class="pagination-1">
					<li>
						<a class="pag-prev" href="#"></a>
					</li>
					<li>
						<a class="pag-current" href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a class="pag-next" href="#"></a>
					</li>
				</ul>
			</div>
		</div>

<!-- SIDEBAR -->
		<div class="five columns ">
		<!-- WIDGET -->
			<div class="sidebar-item  m-bot-35">
				<div class="caption-container-main m-bot-30">
					<div class="caption-text-container">探索</div>
					<div class="content-container-white caption-bg "></div>
				</div>
				<div >
					<ul class="blog-categories">
						<li class="active "><a href="#"><span class="blog-cat-icon"></span>健身</a></li>
						<li><a href="#"><span class="blog-cat-icon"></span>运动</a></li>
						<li><a href="#"><span class="blog-cat-icon"></span>活动</a></li>
						<li><a href="#"><span class="blog-cat-icon"></span>比赛</a></li>
						<li><a href="#"><span class="blog-cat-icon"></span>琐事</a></li>
					</ul>
				</div>
			</div>	
		<!-- WIDGET -->	
			<div class="sidebar-item  m-bot-35">
				<div class="caption-container-main m-bot-30">
					<div class="caption-text-container">我的好友</div>
					<div class="content-container-white caption-bg "></div>
				</div>

				<div class="">
						<ul class="tabs-nav">
							<li class="active">
								<a href="#tab1">First</a>
							</li>
							<li class="">
								<a href="#tab2">Second</a>
							</li>
						</ul>
						<div>
							<div id="tab1" class="tab-content" >
								<ul class="latest-post-container">
								<?php foreach($myFriends as $item):?>
									<li class="latest-post-sidebar clearfix">
										<div class="lp-img-cont left">
											<a href="" ><img src="images/content/avatar-1.png" alt="project"></a>
										</div>
										<div class="lp-title-cont left">
											<p class="latest-post-sidebar-title"><a href=""><?=$item['username']?></a></p>
										</div>	
									</li>
								<?php endforeach;?>
								</ul>
							</div>
							<div id="tab2" class="tab-content content-container-white" >
								<ul class="tab-post-container text ">
									<li class="clearfix">
									</li>
								</ul>
							</div>
						</div>
				</div>
			</div>
		<!-- WIDGET -->	
			<div class="sidebar-item  m-bot-35">
				<div class="caption-container-main m-bot-30">
					<div class="caption-text-container">好友动态</div>
					<div class="content-container-white caption-bg "></div>
				</div>
				

				
				<div>
				
					<div id="accordion">
					<?php foreach($myFriends as $item):?>
						  <h3><a href="#"><?=$item['username']?></a></h3>
						  <div>
							<p>暂无</p>
						  </div>
						<?php endforeach;?>  
					 
					 </div><!-- End accordion -->
					
				</div>
			</div>
			
		</div>
	</div>
<!-- FOOTER -->
	<footer>
		<div class="footer-content-bg">
			<div class="container clearfix">
				<div class="one-third-footer-spec column omega">

					<div class="logo-footer-container">
						<a href="index.html" class="logo" rel="home" title="Home">
							<img src="images/mf-logo-retina.png" alt="solana" >
						</a>
					</div>
				</div>
				<div class="two-thirds-footer-spec column alpha">


					<p class="footer-content-container m-none">专业的运动<strong>社区</strong></p>

				</div>
			</div>
			<div class="container clearfix">
				<div class="one-third column">
					<div class="footer-social-text-container">
						<p class="title-font-24">与我们<strong>联系</strong></p>
						<p class="title-font-12">倾听您的意见</p>
					</div>
					<div class="footer-social-links-container">
						<ul class="social-links clearfix">
							<li><a class="facebook-link" target="_blank" title="Facebook" href=""></a></li>
							<li><a class="skype-link" target="_blank" title="Skype" href=""></a></li>
							<li><a class="twitter-link" target="_blank" title="Twitter" href=""></a></li>
							<li><a class="linkedin-link" target="_blank" title="linkedin" href=""></a></li>
							<li><a class="googleplus-link" target="_blank" title="googleplus" href=""></a></li>
						</ul>
					</div>


				</div>
				<div class="one-third column ">
					<h3 class="caption footer-block">版本 <span class="bold">更新</span></h3>
					<ul class="latest-post">
						<li class="standart-post">
							<h4 class="title-post-footer"><a href="blog-single.html">v1.0</a></h4>
							<h4 class="date-post-footer">July 10, 2016</h4>
						</li>
						<li class="image-post">
							<h4 class="title-post-footer"><a href="blog-single.html">v1.1</a></h4>
							<h4 class="date-post-footer">July 10, 2016</h4>
						</li>
						<li class="video-post">
							<h4 class="title-post-footer"><a href="blog-single.html">v1.2</a></h4>
							<h4 class="date-post-footer">July 10, 2016</h4>
						</li>
					</ul>
				</div>
				<div class="one-third column ">
					<h3 class="caption footer-block">联系 <span class="bold">地址</span></h3>
					<ul class="footer-contact-info">
						<li class="footer-loc">
							Fdo, 123 Some Ave, SFW 700,  Nanjing
						</li>
						<li class="footer-phone">
							(123) 456-7890<br>(123) 987-6540
						</li>
						<li class="footer-mail">
							<a href="">email@163.com</a><br>
							<a href="">email@outlook.com</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
		<div class="footer-copyright-bg">
			<div class="container ">
				<div class="sixteen columns clearfix">
					<div class="footer-menu-container">
						<nav class="clearfix" id="footer-nav">
							<ul class="footer-menu">
								<li><a href="index.php/LoginController/index">首页</a>
										</li>
										<li><a href="index.php/StatisticController/userStatistic">运动</a>
										</li>
										<li ><a href="index.php/ActivityController/activity">活动</a>
										</li>
										<a href="index.php/BlogController/blog">社区</a>
										<li ><a href="contact.html">联系我们</a></li>
							</ul>
						</nav>
					</div>
					<div class="footer-copyright-container right-text">
						&copy; MEET<span class="red">FIT .</span>
					</div>
				</div>

			</div>
		</div>
	</footer>
	<p id="back-top">
		<a href="#top" title="Back to Top"><span></span></a>
	</p>
</div><!-- End wrap -->
<!-- JS begin -->

		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/superfish.js"></script>
		<script type="text/javascript" src="js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/jquery.jcarousel.js"></script>
		<script type="text/javascript" src="js/jquery.fancybox-1.3.4.pack.js"></script>
		<script type="text/javascript" src="js/jQuery.BlackAndWhite.min.js"></script>
		<script type="text/javascript" src="js/jquery.validate.min.js"></script>
		<script type="text/javascript" src="js/jflickrfeed.min.js"></script>
		<script type="text/javascript" src="js/jquery.quicksand.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/jquery-cookie.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/head.js"></script>
		<script src="js/styleswitcher.js"></script>
<!-- JS end -->
		
	</body>
</html>		
