<!DOCTYPE html>
<html>
<head>
	<title><?php echo $title; ?></title>
</head>
<body>
<h1>This is <?php echo $content['name']; ?></h1>
<p>It is creat at <?php echo $content['creatTime']; ?></p>
<p>IT is used for <?php echo $content['forWhat']; ?></p>
    <p><?php foreach($content['info'] as $item ):echo $item; ?></p>
<?php endforeach;?>

<table width="200px"> 
<tr>
<th>id</th>
<th>name</th>
</tr>
<?php foreach($userlist as $item): ?>
    <tr style="text-align:center;">
    <td><?php echo $item['id']; ?></td>
    <td><?php  echo $item['name']; ?></td>
    </tr>
<?php endforeach;?>
</table>
</body>
</html>